:root {
    --COLOR-PRIMARY: #FF7E00;
    --COLOR-SECONDARY: #EC2633;
    --COLOR-BG: #FEFCFB;
    --COLOR-DARK: #2F2F2F;
    --COLOR-DARK-ACCENT: #948C8C;
    --COLOR-LIGHT: #FFFFFF;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
    background-color: var(--COLOR-BG);
}

body {
    padding: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    line-height: 30px;
}

p {
    line-height: 20px;
}

input,
button,
a {
    font-family: "poppins";
}

ul,
ol {
    margin: 0px;
    padding: 0px;
}

/* UTILITY CLASSES */
.w-full {
    width: 100%;
}

.row-gap-10 {
    row-gap: 10px;
}

.row-gap-20 {
    row-gap: 20px;
}

.row-gap-30 {
    row-gap: 20px;
}

.col-gap-10 {
    column-gap: 10px;
}

.col-gap-20 {
    column-gap: 20px;
}

.col-gap-30 {
    column-gap: 20px;
}

.col-gap-50 {
    column-gap: 50px;
}

.col-gap-100 {
    column-gap: 100px;
}

.w-6 {
    width: 28px;
}

.gap-5 {
    gap: 6px;
}

.gap-25 {
    gap: 25px
}

.my-10 {
    margin: 10px 0;
}

.w-full {
    width: 100%;
}

.card {
    width: 300px;
}

.flex {
    display: flex;
}

.flex_col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.section_container {
    padding-left: 118px;
    padding-right: 100px;
}

.bg-price {
    color: #ce6700;
    background-color: #ffcc98;
    padding: 2px 6px;
    border-radius: 3px;
}

.bg-red {
    justify-content: center;
}

.discover {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    border: solid;
    color: #FA7436;
    font-weight: 500;
    border-color: #FA7436;
}

.w-3 {
    width: 20px;
}
.primary_button {
    width: 112px;
    height: 45px;
    background-color:#FF7E00;
    border-radius: 10px;
    color:#FFFFFF;
    border: none;
    outline: none;
}  

.hero {
    background: #FEFCFB;
    height: 800px;

    .app_header {
        height: 114px;
        padding: 15px;
        box-sizing: border-box;
        color: #2F2F2F;

        .branding_container {
            width: 25%;

            p {
                font-weight: 600;
            }

            img {
                width: 15px
            }
        }

        .links_container {
            width: 40%;

            ul {
                list-style-type: none;
                color: #2F2F2F;
            }
        }

        .button_container {
            width: 35%;

            button {
                width: 160px;
                height: 50px;
                border-radius: 5px;
                background: transparent;
                outline: none;
                border: none;
                color: #FA7436
            }

            .button_2 {
                background: #FA7436;
                outline: none;
                border: none;
                color: #FFFFFF;
            }


        }


    }

    .hero-content {
        .content {
            width: 50%;

            h1 {
                font-size: 30px;
                line-height: 50px;
                font-weight: 700;
                ;
            }

            button {
                width: 160px;
                height: 50px;
                border-radius: 5px;
                background: transparent;
                outline: none;
                border: 10px;
                color: #FA7436;
                font-weight: 700;
            }

        }

        .hero_image {
            width: 50%;
            height: 500px;

            .image {

                width: 500px;
                height: 500px;
                background-image: url(assets/hero_image.svg);
                background-repeat: no-repeat;
                background-position: center;
                flex-wrap: wrap;

            }

            .bg {
                background-color: white;
                padding: 12px 16px;
                border-radius: 8px;
            }

            .relative {
                position: relative;
            }

            .absolute {
                position: absolute;
            }

            .top-20 {
                top: 20px;
                left: -50px;
            }

            .bottom-20 {
                bottom: 60px;
                left: -50px;

            }

            .right-20 {
                right: -99px;
                top: 273px;
            }

            .flex {
                display: flex;
                gap: 16px;
                align-items: center;
            }

        }

    }

    .container {

        width: 100%;
        height: 130px;

        .button_3 {
            width: 160px;
            height: 50px;
            background: #FA7436;
            border-radius: 5px;
            outline: none;
            border: none;
            color: #FFFFFF;
        }
    }


}

.color {
    color: var(--COLOR-PRIMARY)
}


.things {
    height: 350px;

    .section-header {
        width: 100%;
        ;
        height: 150px;
        color: #2F2F2F;
        background: #FEFCFB;
        padding-left: 318px;


        .content {
            width: 550px;
            height: 150px;
            padding-left: 0px;
            text-align: center;
            box-sizing: border-box;


            h1 {
                font-size: 30px;
            }
        }

        .element {
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: -142px;
            right: -561px;
        }
    }

    .feature {
        width: 35.33%;
        height: 280px;
        padding-top: 50px;
        box-sizing: content-box;

        img {
            width: 50px;
            height: 50px;
        }

        .image3 {
            width: 100%;
            height: 280px;

        }
    }
}

.discounts {

    height: 600px;

    .section-header {
        width: 100%;
        ;
        height: 150px;
        color: #2F2F2F;
        background: #FEFCFB;
        padding-left: 244px;


        .content {
            width: 660px;
            height: 150px;
            padding-left:124px;
            text-align: center;
            box-sizing: border-box;


            h1 {
                font-size: 30px;
            }
        }
    }

    .places {
        width: 100%;
        height: 300px;
        border: 1px solid lightgray;

        .place {
            width: 25%;
            height: 280px;
            padding: 10px;

            img {
                width: 100%;
                height: 280px;
            }

            .content {

                .normal-pricing {
                    color: var(--COLOR-DARK);
                    font-size: 16px;
                    text-decoration: line-through;
                    margin-right: 5px;
                }

                .actual-pricing {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

        }

    }
}

.vacation {
    height: 600px;

    .header {
        .content {
            width: 628px;
            height: 142px;
            text-align: center;
            box-sizing: content-box;
            position: relative;

            h2 {
                font-size: 30px;
            }

            .tree {
                width: 100px;
                height: 100px;

            }

            .adj1 {
                position: absolute;
                top: 1px;
                right: -104px;
            }

        }
    }

    .card {
        width: 327px;
    }


}

.testimonials {
    height: 500px;

    .container {
        width: 50%;
        height: 500px;

        .button {
            width: 30px;
            height: 30px;
            border-radius: 40%;
            background: #FA7436;
            outline: none;
            border: 10px;
            color: #FFFFFF;
            font-weight: 700;
        }

    }
    .final{
        width: 50%;
    }
}

.blog {
    height: 600px;

    .header {
        height: 100px;

        h1 {
            font-size: 30px;
        }
    }

    .card {
        width: 320px;

        h4 {
            line-height: 22px;
        }

        p {
            color: #948C8C;
        }
    }
}

.subscribe {
    .master{
        width:100%;
    }
    .container {
        background:#FA7436;
        width: 70%;
        height: 370px;
        border-radius: 20px;
        padding: 0px 20px;
        box-sizing: border-box;

        h1 {
              font-family:serif;
              color:#FEFCFB;
              font-size:50px;
              line-height: 60px;
              text-align: center;
        }
        .search_input {
            width:700px;
            height: 60px;
            background:#FFFFFF;
            border-radius: 10px;
            padding: 15 10px;
            box-sizing: border-box;
            input {
                width: 100%;
                height: 100%;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }
  
        
        
        
    }
    .company{
        width:100%;
        p{
            color:#948C8C;
            margin-bottom:10px;
        }
    }
    }
.footer{
    height:20px;
    p{
        color: #948C8C;
    
    }

}    
    